@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lama-sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lama sans", sans-serif;
  text-align: right;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
}
button {
  border-radius: 14px;
  background: var(
    --Menu-button-Grid,
    linear-gradient(180deg, #06f 0%, #003d99 100%)
  );
  box-shadow: 0px 0px 20px 0px var(--Blue-400, #2e81ff);
  border: none;
  padding: 14px 20px;
  font-size: 24px;
  margin-right: 46px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: white;
}
button:hover {
  background: var(--Blue-Blue-500, #06f);
  box-shadow: 0px 10px 20px 0px var(--Blue-200, #8ab8ff);
}
header ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
header ul a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
header ul a:focus {
  text-decoration: underline;
}
header .logo {
  margin-left: auto;
  width: 87.75px;
  height: 71.796px;
}
.contact {
  text-decoration: underline;
}
ul a:hover {
  opacity: 0.7;
}
.header {
  display: flex;
  align-items: center;
}
main {
  margin: 96px auto;
  max-width: 1140px;
}
main > div {
  display: flex;
  gap: 20px;
}
.birtouta {
  margin-bottom: 96px;
}
main > div > a {
  max-width: 555px;
  height: 357px;
  overflow: hidden;
  border: solid;
  transition: all ease 0.4s;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.388);
  border-radius: 15px;
}
main > div > a:hover img {
  transform: scale(1.1);
}
main > div > a img {
  width: 100%;
  transition: all ease 0.4s;
}
main > div h1 {
  color: var(--black, #000);
  text-align: right;

  /* Desktop/H2 */
  font-family: "Lama Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 48px;
  line-height: 55px; /* 130.952% */
}
main > div p {
  color: var(--black, #000);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  /* Desktop/H4 */
  font-family: "Lama Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
main > div p :nth-child(1) {
  margin-bottom: 36px;
}

.followUs {
  margin-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.followUs > img {
  width: 480px;
  height: 560px;
}
.followDiv {
  display: flex;
  max-width: 674px;
  flex-direction: column;
  align-items: center;
  gap: 192px;
  flex: 1 0 0;
}
.followDiv h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}
.followDiv button {
  margin: 0;
}
.dawraTime {
  width: 100%;
}
.dawraTime img,
.dawraTime source {
  width: 100%;
}
footer {
  background: #f3f3f3;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.link img {
  height: 50px;
  width: 50px;
}
.link img:hover {
  opacity: 0.5;
}

footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 26px;
}

footer ul a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
}
footer .logo {
  width: 86px;
  height: 70px;
  max-width: 86px;
  max-height: 70px;
}
.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copyright > * {
  text-align: center;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.copyright a {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.copyright a:hover {
  color: rgb(50, 50, 173);
}
/* ham menu */
.ham-menu {
  width: 55px;
  height: 50px;
  position: fixed;
  z-index: 9999;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(180deg, #06f 0%, #003d99 100%);
  top: 10px;
  left: 20px;
  cursor: pointer;
  display: none;
}
.ham-menu span {
  height: 5px;
  width: 80%;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
  background-color: white;
}
.ham-menu span:nth-child(2) {
  background-color: #b7d4ff;
  width: 60%;
  left: 21px;
}
.ham-menu span:nth-child(3) {
  top: 75%;
  background-color: #8ab8ff;
  width: 40%;
  left: 16px;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #b7d4ff;
  width: 80%;
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #b7d4ff;
  width: 80%;
  left: 50%;
}
.hidden {
  top: 80px;
}
@media (max-width: 1250px) {
  main img {
    max-width: 400px;
    object-fit: contain;
  }
  main {
    gap: 10px;
  }
  .followUs > img {
    width: 360px;
    height: 420px;
  }
}
@media (max-width: 960px) {
  .ham-menu {
    display: block;
  }
  .header {
    flex-direction: column-reverse;
    border-radius: 0px 0px var(--16, 16px) var(--16, 16px);
    border: 2px solid var(--strock-Menu, rgba(255, 255, 255, 0));
    background: linear-gradient(
      160deg,
      rgba(229, 239, 255, 0.5) 0%,
      rgba(183, 212, 255, 0.5) 23.22%,
      rgba(183, 212, 255, 0.5) 63.74%,
      rgba(229, 239, 255, 0.5) 98.83%
    );
    backdrop-filter: blur(25px);
    padding: 26px 20px;
    position: fixed;
    top: -800px;
    left: 40px;
    transition: all ease-in-out 0.6s;
    z-index: 2;
  }
  .header.tapped {
    top: 80px;
  }
  .header ul {
    flex-direction: column;
    margin-bottom: 46px;
    gap: 54px;
  }
  .header button {
    margin: 0;
    width: 220px;
    font-size: 20px;
  }
  main {
    margin: 64px 0;
  }
  main > div {
    flex-direction: column-reverse;
  }
  .birtouta {
    margin-bottom: 96px;
  }
  main > div > a {
    min-width: 100% !important;
    height: 357px;
    overflow: hidden;
    border: solid;
    transition: all ease 0.4s;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.388);
    border-radius: 15px;
  }
  main > div > a:hover img {
    transform: scale(1.1);
  }
  main > div > a img {
    min-width: 100%;
    transition: all ease 0.4s;
  }
  main > div h1 {
    color: var(--black, #000);
    text-align: right;

    /* Desktop/H2 */
    font-family: "Lama Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 130.952% */
    margin-bottom: 26px;
  }
  main > div p {
    color: var(--black, #000);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    /* Desktop/H4 */
    font-family: "Lama Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
  }
  main > div p :nth-child(1) {
    margin-bottom: 16px;
  }
  body > * {
    padding: 0 20px;
  }
  .followUs {
    margin-bottom: 64px;
  }
  .followUs > img {
    width: 30%;
    height: 100%;
    margin-top: auto;
  }
  .followDiv {
    display: flex;
    max-width: 674px;
    flex-direction: column;
    align-items: center;
    gap: 192px;
    flex: 1 0 0;
  }
  .followDiv h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
  }
  .followDiv button {
    margin: 0;
    width: 200px;
    font-size: 16px;
    text-align: center;
    flex: 1 0 0;
  }
  .followUs {
    position: relative;
  }

  footer {
    background: #f3f3f3;
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .links {
    flex-direction: column-reverse;
    align-items: center;
    gap: 36px;
    margin-bottom: 20px;
  }
  .ham-menu {
    display: block;
  }
  .rules {
    flex-direction: column;
    padding: 26px 20px 50px 20px;
    align-items: center;
  }
}
@media (max-width: 600px) {
  body > * {
    padding: 0 18px;
    margin-bottom: 36px;
  }
  main {
    margin: 48px 0;
  }
  main > div {
    flex-direction: column-reverse;
  }
  .birtouta {
    margin-bottom: 48px;
  }
  main > div > a {
    min-width: 100% !important;
    height: auto;
    overflow: hidden;
    border: solid;
    transition: all ease 0.4s;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.388);
    border-radius: 15px;
  }
  main > div > a:hover img {
    transform: scale(1.1);
  }
  main > div > a img {
    min-width: 100%;
    transition: all ease 0.4s;
  }
  main > div h1 {
    color: var(--black, #000);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
  }
  main > div p {
    color: var(--black, #000);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }
  main > div p img {
    width: 40px;
    height: 40px;
  }
  main > div p :nth-child(1) {
    margin-bottom: 16px;
  }
  .followUs > img {
    width: 200px;
    position: absolute;
    bottom: 0;
  }
  .leftCLoud {
    left: -100px;
  }
  .rightCloud {
    right: -100px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 26px;
  }
  footer {
    padding: 12px 40px;
  }
  .copyright a {
    font-size: 12px !important;
  }
}
