@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lama-sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lama sans", sans-serif;
  text-align: right;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
button {
  border-radius: 14px;
  background: var(
    --Menu-button-Grid,
    linear-gradient(180deg, #06f 0%, #003d99 100%)
  );
  box-shadow: 0px 0px 20px 0px var(--Blue-400, #2e81ff);
  border: none;
  padding: 14px 20px;
  font-size: 24px;
  margin-right: 46px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: white;
}
button:hover {
  background: var(--Blue-Blue-500, #06f);
  box-shadow: 0px 10px 20px 0px var(--Blue-200, #8ab8ff);
}
header ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
header ul a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
header ul a:focus {
  text-decoration: underline;
}
header .logo {
  margin-left: auto;
  width: 87.75px;
  height: 71.796px;
}
.dawarat {
  text-decoration: underline;
}
ul a:hover {
  opacity: 0.7;
}
.header {
  display: flex;
  align-items: center;
}
header .logo {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 67.75px;
  height: 51.796px;
}
.background {
  background: linear-gradient(
    160deg,
    rgba(229, 239, 255, 0.5) 0%,
    rgba(183, 212, 255, 0.5) 23.22%,
    rgba(183, 212, 255, 0.5) 63.74%,
    rgba(229, 239, 255, 0.5) 98.83%
  );
  backdrop-filter: blur(25px);
  position: fixed;
  height: 140px;
  right: 0;
  left: 0;
}
main {
  padding: 0 40px;
  display: flex;
  margin: 96px 0;
  justify-content: space-between;
}
main img {
  max-width: 648px;
  flex-shrink: 2;
}
main aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}
main aside h1 {
  color: var(--black, #000);
  text-align: right;

  /* Desktop/H2 */
  font-family: "Lama Sans";
  font-size: 42px;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 55px; /* 130.952% */
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 36px;
  row-gap: 26px;
}
.categories > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
  flex: 1 0 0;
  align-self: stretch;
}
.categories > div strong {
  color: var(--black, #000);
  text-align: right;

  /* Desktop/H4 */
  font-family: "Lama Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.categories > div p {
  color: var(--black, #000);
  text-align: right;
  font-family: "Lama Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dawraTime {
  width: 100%;
}
.dawraTime img,
.dawraTime source {
  width: 100%;
}
.dawraSummery {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 90px 0;
}
.dawraSummery h1 {
  color: var(--black, #000);
  text-align: right;

  /* Desktop/H2 */
  font-family: "Lama Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 130.952% */
  margin-bottom: 26px;
}
.dawraSummery .categoriesB {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.categoriesB > div > div {
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--14, 14px);
  flex-shrink: 0;
  align-self: stretch;
}
.categoriesB > div {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.categoRow2 {
  flex-direction: row-reverse;
}
.categoriesB > div strong {
  color: var(--black, #000);
  text-align: right;

  /* Desktop/H4 */
  font-family: "Lama Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.categoriesB > div p {
  color: var(--black, #000);
  text-align: right;
  font-family: "Lama Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.eng {
  grid-area: eng;
}
.writing {
  grid-area: write;
}
.tilawa {
  grid-area: tahfid;
}
.quran {
  grid-area: quran;
}
.braincalcu {
  grid-area: brain;
}
.dawraSummery > img {
  max-width: 456px;
  object-fit: contain;
}
footer {
  background: #f3f3f3;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.link img {
  height: 50px;
  width: 50px;
}
.link img:hover {
  opacity: 0.5;
}

footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 26px;
}

footer ul a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
}
footer .logo {
  width: 86px;
  height: 70px;
  max-width: 86px;
  max-height: 70px;
}
.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copyright > * {
  text-align: center;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.copyright a {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.copyright a:hover {
  color: rgb(50, 50, 173);
}
/* ham menu */
.ham-menu {
  width: 55px;
  height: 50px;
  position: fixed;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(180deg, #06f 0%, #003d99 100%);
  top: 10px;
  left: 20px;
  cursor: pointer;
  display: none;
}
.ham-menu span {
  height: 5px;
  width: 80%;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
  background-color: white;
}
.ham-menu span:nth-child(2) {
  background-color: #b7d4ff;
  width: 60%;
  left: 21px;
}
.ham-menu span:nth-child(3) {
  top: 75%;
  background-color: #8ab8ff;
  width: 40%;
  left: 16px;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #b7d4ff;
  width: 80%;
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #b7d4ff;
  width: 80%;
  left: 50%;
}
.hidden {
  top: 80px;
}
@media (max-width: 1250px) {
  main img {
    max-width: 400px;
    object-fit: contain;
  }
  main {
    gap: 10px;
  }
  .dawraSummery > img {
    max-width: 350px;
    object-fit: contain;
  }
  .categoriesB > div > div {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--14, 14px);
    flex-shrink: 0;
    align-self: stretch;
  }
}
@media (max-width: 960px) {
  .ham-menu {
    display: block;
  }
  .header {
    flex-direction: column-reverse;
    border-radius: 0px 0px var(--16, 16px) var(--16, 16px);
    border: 2px solid var(--strock-Menu, rgba(255, 255, 255, 0));
    background: linear-gradient(
      160deg,
      rgba(229, 239, 255, 0.5) 0%,
      rgba(183, 212, 255, 0.5) 23.22%,
      rgba(183, 212, 255, 0.5) 63.74%,
      rgba(229, 239, 255, 0.5) 98.83%
    );
    backdrop-filter: blur(25px);
    padding: 26px 20px;
    position: fixed;
    top: -800px;
    left: 20px;
    transition: all ease-in-out 0.6s;
    z-index: 2;
  }
  .header.tapped {
    top: 80px;
  }
  .header ul {
    flex-direction: column;
    margin-bottom: 46px;
    gap: 54px;
  }
  .header button {
    margin: 0;
    width: 220px;
    font-size: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0;
  }
  main aside * {
    text-align: center !important;
  }
  .tamayoz {
    background: var(
      --Grid-TXT,
      linear-gradient(180deg, #003585, #0056d6, #2e81ff, #5c9dff)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body > * {
    padding: 0 20px;
  }
  .mainImg {
    margin-bottom: 36px;
  }
  .line {
    display: none;
  }
  .categories {
    display: grid;
    place-content: center;
    text-align: center;
  }
  .categories * {
    text-align: center;
    place-self: center;
  }
  main > img {
    min-width: 100%;
  }
  main aside h1 {
    color: var(--black, #000);
    text-align: center;
    font-family: "Lama Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 130.952% */
  }
  .dawraSummery {
    flex-direction: column;
    align-items: center;
  }
  .dawraSummery aside h1 {
    text-align: center !important;
    margin-top: 36px;
    margin-bottom: 20px;
  }
  .categoriesB * {
    text-align: center !important;
    place-self: center;
  }

  .dawraSummery > img {
    max-width: 456px;
  }

  .dawraSummery .categoriesB > div {
    width: 100%;
  }
  .categoRow1 {
    justify-content: center !important;
  }
  footer {
    background: #f3f3f3;
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .links {
    flex-direction: column-reverse;
    align-items: center;
    gap: 36px;
    margin-bottom: 20px;
  }
  .ham-menu {
    display: block;
  }
}
@media (max-width: 600px) {
  body > * {
    padding: 0 18px;
    margin-bottom: 36px;
  }
  main aside h1 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
  }
  main aside p {
    color: var(--black, #000);
    text-align: center;

    /* Mobile/Body4 */
    font-family: "Lama Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  main aside strong {
    color: var(--black, #000);
    text-align: center;

    /* Mobile/H4 */
    font-family: "Lama Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
  }
  .arrowBtn {
    position: relative;
    justify-content: center;
  }
  .arrowBtn button::after {
    content: "";
    height: 55px;
    position: absolute;
    top: -40px;
    left: -60px;
    width: 60px;
    background-image: url("public/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    transform: rotate(60deg);
  }
  .categoriesB > * {
    flex-direction: column;
  }
  .categoriesB {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categoriesB > div > div {
    align-self: center;
  }
  .dawraSummery > img {
    width: 100%;
    text-align: center;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 26px;
  }
  footer {
    padding: 12px 40px;
  }
  .copyright a {
    font-size: 12px !important;
  }

  main {
    overflow: hidden;
  }
}
