@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lama-sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lama sans", sans-serif;
  text-align: right;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
}
button {
  border-radius: 14px;
  background: var(
    --Menu-button-Grid,
    linear-gradient(180deg, #06f 0%, #003d99 100%)
  );
  box-shadow: 0px 0px 20px 0px var(--Blue-400, #2e81ff);
  border: none;
  padding: 14px 20px;
  font-size: 24px;
  margin-right: 46px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: white;
}
button:hover {
  background: var(--Blue-Blue-500, #06f);
  box-shadow: 0px 10px 20px 0px var(--Blue-200, #8ab8ff);
}
header ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
header ul a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
header ul a:focus {
  text-decoration: underline;
}
header .logo {
  margin-left: auto;
  width: 87.75px;
  height: 71.796px;
}
.success {
  text-decoration: underline;
}
ul a:hover {
  opacity: 0.7;
}
.header {
  display: flex;
  align-items: center;
}
main {
  padding: 0 40px;
  display: flex;
  margin: 96px 0;
  justify-content: space-between;
}
main img {
  max-width: 648px;
  flex-shrink: 2;
}
main aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}
main aside h1 {
  color: var(--black, #000);
  text-align: right;

  /* Desktop/H2 */
  font-family: "Lama Sans";
  font-size: 42px;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 700;
  margin-bottom: px;
  line-height: 55px; /* 130.952% */
}
main aside > p {
  color: var(--black, #000);
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  margin-bottom: 48px;
}

.stats {
  display: flex;
  gap: 30px;
  margin-left: auto;
  overflow: hidden;
}
.stats strong {
  color: var(--black, #000);
  text-align: right;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 130.952% */
}
.stats p {
  color: var(--black, #000);
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.takrims {
  padding: 0 40px;
}
.takrims h2 {
  color: var(--black, #000);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: var(--48, 48px); /* 133.333% */
  margin-bottom: 26px;
}
.takrim {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.takrim .row1 {
  display: flex;
  gap: 10px;
}
.takrim .row2 {
  display: flex;
  gap: 10px;
}
.takrim img {
  border-radius: 15px;
  height: 230px;
  width: 100%;
}
.takrim > .row1 div:nth-child(1) {
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
}
.takrim > .row1 div:nth-child(2) {
  width: 25%;
  overflow: hidden;
  border-radius: 15px;
}
.takrim > .row1 div:nth-child(3) {
  width: 25%;
  overflow: hidden;
  border-radius: 15px;
}
.takrim > .row2 div:nth-child(1) {
  width: 33%;
  height: 230px;
  background-image: url("public/pic5.jpg");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}
.takrim > .row2 div:nth-child(2) {
  width: 33%;
  height: 230px;
  background-image: url("public/pic6.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}
.takrim > .row2 div:nth-child(3) {
  width: 33%;
  overflow: hidden;
  border-radius: 15px;
}
.img2 {
  transform: scale(1.2);
}
.img3 {
  transform: scale(1.2);
}

.peopleSay {
  padding: 0 20px;
  margin: 96px 0;
  padding-bottom: 40px;
}
.peopleSay h2 {
  margin-bottom: 26px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.gridMain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  row-gap: 20px;
  column-gap: 10px;
  place-content: center;
}
.gridMain > div {
  border-radius: 20px;
  background: var(
    --Grid-Menu,
    linear-gradient(
      160deg,
      rgba(229, 239, 255, 0.5) 0%,
      rgba(183, 212, 255, 0.5) 23.22%,
      rgba(183, 212, 255, 0.5) 63.74%,
      rgba(229, 239, 255, 0.5) 98.83%
    )
  );
  padding: 36px 30px;
}
.gridMain > div strong {
  color: var(--black, #000);
  text-align: right;
  font-family: "Lama Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 36.4px */
  margin-bottom: 26px;
}
.gridMain > div p {
  color: var(--black, #000);
  text-align: right;
  font-family: "Lama Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 26px 0 70px 0;
}
.dawraTime {
  width: 100%;
}
.dawraTime img,
.dawraTime source {
  width: 100%;
}
footer {
  background: #f3f3f3;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.link img {
  height: 50px;
  width: 50px;
}
.link img:hover {
  opacity: 0.5;
}

footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 26px;
}

footer ul a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
}
footer .logo {
  width: 86px;
  height: 70px;
  max-width: 86px;
  max-height: 70px;
}
.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copyright > * {
  text-align: center;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.copyright a {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.copyright a:hover {
  color: rgb(50, 50, 173);
}
/* ham menu */
.ham-menu {
  width: 55px;
  height: 50px;
  position: fixed;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(180deg, #06f 0%, #003d99 100%);
  top: 10px;
  left: 20px;
  cursor: pointer;
  display: none;
}
.ham-menu span {
  height: 5px;
  width: 80%;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
  background-color: white;
}
.ham-menu span:nth-child(2) {
  background-color: #b7d4ff;
  width: 60%;
  left: 21px;
}
.ham-menu span:nth-child(3) {
  top: 75%;
  background-color: #8ab8ff;
  width: 40%;
  left: 16px;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #b7d4ff;
  width: 80%;
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #b7d4ff;
  width: 80%;
  left: 50%;
}
.hidden {
  top: 80px;
}
@media (max-width: 1250px) {
  main img {
    max-width: 400px;
    object-fit: contain;
  }
  main {
    gap: 10px;
  }
}
@media (max-width: 960px) {
  .ham-menu {
    display: block;
  }
  .header {
    flex-direction: column-reverse;
    border-radius: 0px 0px var(--16, 16px) var(--16, 16px);
    border: 2px solid var(--strock-Menu, rgba(255, 255, 255, 0));
    background: linear-gradient(
      160deg,
      rgba(229, 239, 255, 0.5) 0%,
      rgba(183, 212, 255, 0.5) 23.22%,
      rgba(183, 212, 255, 0.5) 63.74%,
      rgba(229, 239, 255, 0.5) 98.83%
    );
    backdrop-filter: blur(25px);
    padding: 26px 20px;
    position: fixed;
    top: -800px;
    left: 40px;
    transition: all ease-in-out 0.6s;
    z-index: 2;
  }
  .header.tapped {
    top: 80px;
  }
  .header ul {
    flex-direction: column;
    margin-bottom: 46px;
    gap: 54px;
  }
  .header button {
    margin: 0;
    width: 220px;
    font-size: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0;
  }
  main aside * {
    text-align: center !important;
  }
  .tamayoz {
    background: var(
      --Grid-TXT,
      linear-gradient(180deg, #003585, #0056d6, #2e81ff, #5c9dff)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body > * {
    padding: 0 20px;
  }
  .mainImg {
    margin-bottom: 36px;
  }
  .line {
    display: none;
  }
  .categories {
    display: grid;
    place-content: center;
    text-align: center;
  }
  .categories * {
    text-align: center;
    place-self: center;
  }
  main > img {
    min-width: 100%;
  }
  main aside h1 {
    color: var(--black, #000);
    text-align: center;
    font-family: "Lama Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 130.952% */
  }
  footer {
    background: #f3f3f3;
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .links {
    flex-direction: column-reverse;
    align-items: center;
    gap: 36px;
    margin-bottom: 20px;
  }
  .ham-menu {
    display: block;
  }
}
@media (max-width: 600px) {
  body > * {
    padding: 0 18px;
    margin-bottom: 36px;
  }
  main aside h1 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
  }
  main aside p {
    color: var(--black, #000);
    text-align: center;

    /* Mobile/Body4 */
    font-family: "Lama Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  main aside strong {
    color: var(--black, #000);
    text-align: center;

    /* Mobile/H4 */
    font-family: "Lama Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
  }
  .arrowBtn {
    position: relative;
    justify-content: center;
  }
  .arrowBtn button::after {
    content: "";
    height: 55px;
    position: absolute;
    top: -40px;
    left: -60px;
    width: 60px;
    background-image: url("public/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    transform: rotate(60deg);
  }
  main aside h2 {
    color: var(--black, #000);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
  }
  main aside p {
    color: var(--black, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .stats {
    display: flex;
    gap: 10px;
    margin-left: auto;
    overflow: hidden;
    margin: 0 auto;
  }
  .stats strong {
    color: var(--black, #000);
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
  }
  .stats p {
    color: var(--black, #000);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 26px;
  }
  footer {
    padding: 12px 40px;
  }
  .copyright a {
    font-size: 12px !important;
  }
  .takrim img {
    height: 150px;
  }
  .takrim > .row2 div:nth-child(1) {
    height: 150px;
    background-size: 200px;
  }
  .takrim {
    gap: 5px !important;
  }
  .takrim > div {
    gap: 5px !important;
  }
  .takrim > .row2 div:nth-child(2) {
    height: 150px;
    background-size: 200px;
  }
  .takrims {
    padding: 18px;
  }
  .takrims h2 {
    color: var(--black, #000);
    text-align: center;

    /* Mobile/H3 */
    font-family: "Lama Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
  }
  .copyright a {
    font-size: 14px;
  }
  main {
    overflow: hidden;
  }
}
